In [4]:
import pandas as pd

In [5]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [8]:
data=pd.read_csv("C:\\Users\\SRIVANI\\Downloads\\archive (5)\\Student_Performance.csv")
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [16]:
data.nunique()
data['Extracurricular Activities'] = data['Extracurricular Activities'].map({'Yes': 1, 'No': 0})

In [17]:
x = data.drop(columns=["Performance Index"]).values  
y = data["Performance Index"].values    
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
print(x_train.shape)
print(y_train.shape)

(8000, 5)
(8000,)

In [18]:
model=LinearRegression()

In [19]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [57]:
mae=mean_absolute_error(y_test,y_pred)
print(mae)

8.034767997494628

In [23]:
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)
print("Mean squared error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Intercept: -33.92194621555628
Coefficients: [2.85248393 1.0169882  0.60861668 0.47694148 0.19183144]
Mean squared error: 4.082628398521858
R-squared: 0.9889832909573145